<style>
    .btn {
      border: 2px solid black;
      background-color: white;
      color: black;
      padding: 12px 12px;
      font-size: 12px;
      cursor: pointer;
    }
    
    /* Blue */
    .info {
    border-color: #2196F3;
    color: dodgerblue;
    }

    .info:hover {
    background: #2196F3;
    color: white;
    }
</style>

{% extends 'base.html' %}

{% block context %}
    <div class='message'>
        <form method="post">
            <label for="text_web">URL for website</label>
            <br><br>
            <!-- <label for="myfile">Select a file:</label>
            <input type="file" id="myfile" name="myfile">
            <br> -->
            <textarea name="text_web"
                   placeholder="Text"
                   rows="2"
                   cols="60"
                   >{{ request.form['text_web'] }}</textarea>
            <br><br>
            <label for="text_pdf">URL for PDF file</label>
            <br><br>
            <textarea name="text_pdf"
                   placeholder="Text"
                   rows="2"
                   cols="60"
                   >{{ request.form['text_pdf'] }}</textarea>
            <br><br>
            <button type="submit" class="btn info">Submit</button>
        </form>
    </div>
{% endblock %}