<style>
    .btn {
      border: 2px solid black;
      background-color: white;
      color: black;
      padding: 12px 12px;
      font-size: 12px;
      cursor: pointer;
    }
    
    /* Green */
    .success {
      border-color: #04AA6D;
      color: green;
    }
    
    .success:hover {
      background-color: #04AA6D;
      color: white;
    }
</style>
{% extends 'base.html' %}

{% block heading %} Results {% endblock %}

{% block context %}
    {% for message in messages %}
        <div class='message'>
            <p style="color: blue;">URL for website: {{ message['text_web'] }}</p>
            <br>
            <p style="color: blue;">URL for downloading multiple pdf file: {{ message['text_pdf'] }}</p>
            <br>
            <p>Answer from a website:</p>
            <br>
            {% for values in message['answer_web'] %}
              <p>{{ values[0] }} <br><br> {{ values[1] }} <br></p>
            {% endfor %}
            <br>
            <p>Answer from multiple pdf files:</p>
            <br>
            {% for values in message['answer_pdf'] %}
              <p>{{ values[0] }} <br><br> {{ values[1] }} <br></p>
            {% endfor %}
        </div>
    {% endfor %}
    <form action="{{ url_for('create') }}">
        <input type="submit" value="Demo" class="btn success"/>
    </form>
{% endblock %}